body {
    color: white;
    background-color: black;
}

.menucontainer button {
    display: none;
}

.menucontainer:hover button, .menucontainer.fixedmenu button {
    display: inline-block;
}

.clock-page .top {
    font-size: 15ex;
}

.clock-page .clock {
    font-size: 40ex;
    font-weight: bold;
    max-width: 100%;
}

.clock-page .clock .almost_finished {
    color: red;
}

.clock-page .bottom {
    font-size: 5ex;
}

.clock-page .description {
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 1em;
    min-height: 25%;
}

.admin-page .schedule {
    margin-top: 1em;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 1em;
    padding: 1em;
}

td.description img {
    width: 10%;
    float: right;
    padding: 0.5em;
    margin-left: 0.5em;
    background-color: rgb(100,100,100);
}

.description img {
    width: 20%;
    float: right;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: rgb(100,100,100);
}

#image-viewer {
    background-color: rgba(0,0,0,0.5);
}

#image-viewer img {
    background-color: rgb(100,100,100);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    max-height: 100%;
    max-width: 100%;
}
