body {
    color: white;
    background-color: black;
}

h1, h2, h3, h4 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.menucontainer button {
    display: none;
}

.menucontainer:hover button, .menucontainer.fixedmenu button {
    display: inline-block;
}

.loading-page {
    color: #ffe73a;
}

.loading-page .logo {
    border: 1px solid #ffe73a;
    border-radius: 1em;
    margin-top: 25%;
    max-width: 90%;
}

.clock-page .clock {
    font-weight: bold;
}

.clock-page .clock .almost_finished {
    color: red;
}

.clock-page .description {
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 1em;
    min-height: 25%;
}

@media (max-width: 599px) {
    .clock-page .clock {
        font-size: 12ex;
    }
    .clock-page .top {
        font-size: 5ex;
    }
    .clock-page .bottom {
        font-size: 2.5ex;
    }
}
@media (min-width: 600px) and (max-width: 768px) {
    .clock-page .clock {
        font-size: 19ex;
    }
    .clock-page .top {
        font-size: 6ex;
    }
    .clock-page .bottom {
        font-size: 2ex;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .clock-page .clock {
        font-size: 24ex;
    }
    .clock-page .top {
        font-size: 10ex;
    }
    .clock-page .bottom {
        font-size: 3ex;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .clock-page .clock {
        font-size: 30ex;
    }
    .clock-page .top {
        font-size: 12ex;
    }
    .clock-page .bottom {
        font-size: 4ex;
    }
}
@media (min-width: 1200px) {
    .clock-page .clock {
        font-size: 38ex;
    }
    .clock-page .top {
        font-size: 15ex;
    }
    .clock-page .bottom {
        font-size: 5ex;
    }
}

.admin-page .schedule {
    margin-top: 1em;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 1em;
    padding: 1em;
}

td.description img {
    width: 10%;
    float: right;
    padding: 0.5em;
    margin-left: 0.5em;
    background-color: rgb(100,100,100);
}

.description img {
    width: 20%;
    float: right;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: rgb(100,100,100);
}

#image-viewer {
    background-color: rgba(0,0,0,0.5);
}

#image-viewer img {
    background-color: rgb(100,100,100);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    max-height: 100%;
    max-width: 100%;
}
