<html ng-app="TimerApp" ng-controller="TimerController">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time2Xercise v{{VERSION}}</title>
    <script src="lib/angular.min.js"></script>
    <script src="lib/coa.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="src/settings.js"></script>
    <script src="src/index.js"></script>
    <script src="src/models/event.js"></script>
    <script src="src/models/match.js"></script>
    <script src="src/models/program.js"></script>
    <script src="src/models/schedule.js"></script>
    <script src="src/models/team.js"></script>
    <script src="src/models/time.js"></script>
    <script src="src/models/time_table.js"></script>
    <script src="src/models/timing_system.js"></script>
    <script src="src/models/training.js"></script>
    <script src="data/data.js"></script>
    <script src="data/fitness.js"></script>
    <script src="data/generic.js"></script>
    <script src="data/rugby.js"></script>
    <script src="data/test.js"></script>
    <script src="src/timer.js"></script>
    <script src="generated-templates.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/timer.css">
  </head>

  <body key-handler="keyPress">

    <nav ng-if="page!='loading' && show_menu" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand"><img src="pics/icon.png"></a></div>
        <div class="btn-group" role="navigation">
          <button class="btn btn-default navbar-btn" ng-click="goPage('admin')"><span class="glyphicon glyphicon-cog"></span> Admin</button>
          <button class="btn btn-default navbar-btn" ng-click="goPage('options')"><span class="glyphicon glyphicon-wrench"></span> Options</button>
          <button class="btn btn-default navbar-btn" ng-click="goPage('clock')"><span class="glyphicon glyphicon-time"></span> Clock</button>
          <button class="btn btn-info navbar-btn" ng-click="goPage('soundtest')"><span class="glyphicon glyphicon-sound-dolby"></span> Sound Test</button>
        </div>
        <div class="btn-group" role="navigation">
          <button ng-if="timing.running" class="btn btn-default navbar-btn" ng-click="jumpToPrevious()">
              <span class="glyphicon glyphicon-backward"></span></button>
          <button ng-if="timing.running" class="btn btn-default navbar-btn" ng-click="togglePause()">
              <span ng-if="!timing.pause" class="glyphicon glyphicon-pause"></span><span ng-if="timing.pause" class="glyphicon glyphicon-play"></span></button>
          <button ng-if="timing.running" class="btn btn-default navbar-btn" ng-click="jumpToNext()">
              <span class="glyphicon glyphicon-forward"></span></button>
        </div>
        <span class="navbar-text"><span class="glyphicon glyphicon-time"></span>&nbsp;{{timing.getClock()}}
          <span ng-if="timing.running"><span ng-if="!timing.pause">RUNNING</span><span ng-if="timing.pause">PAUSE</span></span>
        </span>
      </div>
    </nav>

    <div ng-if="page=='loading'" class="container loading-page">
      <div class="row text-center">
        <img class="logo" src="pics/logo.png">
        <br>
        <br>
        &copy; {{YEAR}} Tommi Ronkainen
      </div>
    </div>

    <div ng-if="page=='admin'" class="container admin-page">
      <div class="row">
        <form class="form">
          <div class="form-group">
            <label for="starting-time">Starting Time</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
              <input id="starting-time" type="text" class="form-control" ng-model="timing.starting_time"
                     ng-pattern="/\d\d:\d\d:\d\d/" ng-change="timing.recalc()"></input>
            </div>
          </div>
          <div class="form-group">
            <label for="training">Subject</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
              <select id="training" class="form-control" ng-model="timing.training_name"
                      ng-change="selectTraining(timing.training_name)"
                      ng-options="training as training for (training, _) in timing.trainings"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="schedule">Schedule</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-list"></span></span>
              <select id="schedule" class="form-control" ng-model="timing.schedule_name"
                      ng-change="selectSchedule(timing.schedule_name)"
                      ng-options="schedule as schedule for (schedule, _) in timing.training.schedules"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="program">Program</label>
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              <select id="program" class="form-control" ng-model="timing.program_name"
                      ng-change="selectProgram(timing.program_name)"
                      ng-options="program as program for (program, _) in timing.training.schedule.programs"></select>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="btn-group" role="group">
          <button class="btn btn-default" ng-click="startNow(1)" ng-disabled="!timing.training.schedule.program.name">Start Now</button>
          <button class="btn btn-default" ng-click="startNow(10)" ng-disabled="!timing.training.schedule.program.name">Start In 10s</button>
          <button class="btn btn-default" ng-click="timing.start(); goPage('clock')" ng-disabled="!timing.training.schedule.program.name">Start As Scheduled</button>
          <button class="btn btn-info" ng-click="testIt()" ng-if="DEBUG">Test</button>
        </div>
      </div>

      <timer-schedule timing="timing" />
    </div>

    <div ng-if="page=='options'" class="container options-page">
      <h1>Options</h1>
      <div class="row">
        <form class="form">
            <div class="form-group">
              <label for="starting-time">Home Team Name</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-king"></span></span>
                <input type="text" class="form-control" ng-model="match.home_team.name"></input>
              </div>
            </div>
            <div class="form-group">
              <label for="starting-time">Vistor Team Name</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-queen"></span></span>
                <input type="text" class="form-control" ng-model="match.visitor_team.name"></input>
              </div>
            </div>
        </form>
      </div>
    </div>

    <div ng-if="page=='clock' && !timing.isMatch()" class="container clock-page">
      <div class="row">
        <div class="top text-center col-md-12" ng-bind="timing.getCurrentTitle()"></div>
      </div>
      <div class="row">
        <div class="clock text-center col-md-12" ng-class="{almost_finished: timing.getRemainingSeconds() < 60, on_break: timing.onBreak()}" ng-bind="timing.getRemaining()|| timing.pause"></div>
      </div>
      <div class="row">
        <div class="bottom text-left col-md-6 col-xs-6" ng-bind="timing.getPrevious()"></div>
        <div class="bottom text-right col-md-6 col-xs-6" ng-bind="timing.getNext()"></div>
      </div>
      <div class="row">
        <div class="col-md-12 description" ng-bind-html="timing.training.schedule.program.timetable.current.description"></div>
      </div>
    </div>

    <div ng-if="page=='clock' && timing.isMatch()" class="container-fluid match-page">
      <div class="row">
        <div class="top text-left col-md-6" ng-bind="timing.getCurrentTitle()"></div>
        <div class="top text-right col-md-6" ng-class="{almost_finished: timing.getRemainingSeconds() < 60, on_break: timing.onBreak() || timing.pause}" ng-bind="timing.getRemaining() | shortTime"></div>
      </div>
      <div class="row">
        <div class="bottom text-left col-md-6 col-xs-6" ng-class="{team_active: add_home_score, team_negative: add_home_score < 0}" ng-bind="match.home_team"></div>
        <div class="bottom text-right col-md-6 col-xs-6" ng-class="{team_active: add_visitor_score, team_negative: add_visitor_score < 0}" ng-bind="match.visitor_team"></div>
      </div>
      <div class="row">
          <div class="clock text-center col-md-12" ng-bind="match.getScore()"></div>
      </div>
    </div>

    <div ng-if="page=='soundtest'" class="container soundtest-page">
      <h1>Time2Xercise v{{VERSION}}</h1>
      <h2>Sound Test</h2>
      <span ng-repeat="sound in player.list()">
        <a class="btn btn-default" ng-click="player.play(sound)">{{sound}}</a>
      </span>
    </div>

  </body>
</html>
